.forgetpassword {
    width: 100%;
    background: #fce3fe;
    padding-top: 100px;
  }
  
  .forgetpassword-container {
    width: 500px;
    background: white;
    margin: auto;
    padding: 40px 60px;
  }
  
  .forgetpassword-container h1 {
    margin: 20px 0px;
  }
  
  .forgetpassword-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
  }
  
  .forgetpassword-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
  }
  
  .forgetpassword-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .cancel-button,
  .search-button {
    width: 240px;
    height: 72px;
    color: white;
    background: #ff4141;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .cancel-button:hover,
  .search-button:hover {
    opacity: 0.8;
  }
  
  @media (max-width: 1280px) {
    .forgetpassword {
      padding-top: 50px;
    }
    .forgetpassword-container {
      width: auto;
      max-width: 500px;
    }
    .forgetpassword-container h1 {
      margin: 10px 0px;
    }
    .forgetpassword-fields {
      gap: 20px;
      margin-top: 20px;
    }
    .forgetpassword-fields input {
      height: 65px;
      width: 93%;
    }
    .forgetpassword-buttons {
      flex-direction: column;
      gap: 20px;
    }
    .cancel-button,
    .search-button {
      width: 100%;
    }
  }
  
  @media (max-width: 800px) {
    .forgetpassword-container {
      padding: 20px 30px;
    }
    .forgetpassword-container h1 {
      font-size: 24px;
    }
    .forgetpassword-fields {
      margin-top: 20px;
    }
    .forgetpassword-fields input {
      height: 50px;
    }
    .cancel-button,
    .search-button {
      height: 50px;
      font-size: 16px;
    }
  }
  