.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 70%;
  height: 350px;
}
.shopcategory-indexSort {
  display: flex;
  margin: 0px 30px;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort button {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  cursor: pointer;
  
}
.shopcategory-sort button:hover{
  background-color: #f4511e;
}
.shopcategory-sort img {
  height: 20px;
  width: 25px;
}
.shopcategory-indexSort p span {
  font-weight: 600;
}
.shopcategory-products {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
  width: 95%;
}
.shopcategory-loadmore button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}
.shopcategory-loadmore button:hover{
  background-color: #f4511e;
  color: #ededed;
}
@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }
  .shopcategory-indexSort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 20px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shopcategory-products .item {
    margin: auto;
  }
  .shopcategory-loadmore button{
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .shopcategory-products {
    width: 95%;
  }
  .shopcategory-loadmore button {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
}
